<div class="row align-items-center">
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
     <img src="./images/Diya-Fab.png" alt="logo" class="log-img" width="20%">
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 d-flex justify-content-center">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'/home'">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'/aboutus'">About Us</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'/projects'">Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'/contact'">Contact</a>
      </li>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 d-flex justify-content-end">
    <div class="contact-container">
      <a href="https://wa.me/916379859623?text=Hi" target="_blank" class="contact-link">
        <img src="images/wa.png" alt="WhatsApp" class="whatsapp-icon">
        <span class="contact-number">6379859623</span>
      </a>
    </div>
  </div>
</div>
